<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <main>
    <form method="post" action="/login">
      <h1>Login Now</h1>
      <input
        type="email"
        name="Email"
        placeholder="email"
        value="<%=locals.Email%>"
      />
      <input type="password" name="Password" placeholder="password" />
      <p class="error"><%=locals.message %></p>

      <button type="submit">Login</button>
    </form>
  </main>
</html>
