<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <main>
    <form method="post">
      <h1>Register Now</h1>
      <input type="text" name="Name" placeholder="name" />
      <input type="email" name="Email" placeholder="email" />
      <input type="password" name="Password" placeholder="password" />
      <button type="submit">SignUp</button>
    </form>
  </main>
</html>
